/* Common CSS start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.clr {
    clear: both;
}

img {
    vertical-align: middle;
}



@font-face {
    font-family: 'MYRIADPRO-BOLD';
    src: url(../myriad-pro/MYRIADPRO-BOLD.OTF);
}

@font-face {
    font-family: 'MyriadPro-Light';
    src: url(../myriad-pro/MyriadPro-Light.otf);
}


@font-face {
    font-family: 'MYRIADPRO-Regular';
    src: url(../myriad-pro/MYRIADPRO-REGULAR.OTF);
}


@font-face {
    font-family: 'MYRIADPRO-SemiBold';
    src: url(../myriad-pro/MYRIADPRO-SEMIBOLD.OTF);
}



/* Common Css End */



/* Header start */
#header_part {
    height: 32px;
    background:#388dc7;
}

.header_cont {
    height: 32px;
}

.header_text {
    width: 50%;
    float: left;
    height: 32px;
}

.header_text p {
    line-height: 32px;
    font-size: 14px;
    color: #e7e7e7;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif ;
}

.header_icon {
    height: 32px;
    float: left;
    width: 50%;
    text-align: right;
}

.header_icon a {
    line-height: 32px;
    margin-left: 24px;
    font-size: 14px;
    color: #e7e7e7;
    
}

.header_icon .linkedin {
    color: #353535;
}

/* Header End */



/* Menu start */
#menu_part {
   height: 80px;
}

.menu_cont {
    height: 80px;
}

.logo {
    width: 15%;
    float: left;
}

.logo a{
    margin-top: 20px;
    float: left;
}
.main_menu {
    width: 85%;
    float: left;
}    

.main_menu ul {
    float: right;
}

.main_menu ul li {
    float: left;
    margin-left: 15px;
    line-height: 80px;
}

.main_menu ul li a {
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    font-family: 'MYRIADPRO-Regular';

}
/* Menu End */


/* Banner start */
#banner {
    height: 400px;
    
}

.banner_cont {
    height: 400px;
    background: url(../images/Banner.jpg);
    background-repeat: no-repeat;
    background: cover;
}



/* Banner End */


/* Common CSS start */
/* Common Css End */


/* Common CSS start */
/* Common Css End */


/* Common CSS start */
/* Common Css End */


/* Common CSS start */
/* Common Css End */

/* Common CSS start */
/* Common Css End */


/* Common CSS start */
/* Common Css End */


/* Common CSS start */
/* Common Css End */



/* Common CSS start */
/* Common Css End */